<%- include("./partials/head", { title: "SignUp Page" }) %>
<%- include("./css/signup") %>

<body>
  <!-- Include navigation bar -->
  <%- include("./partials/nav") %>

  <div class="container mt-4">
    <!-- Sign Up form -->
    <form action="/user/signup" method="post" enctype="multipart/form-data">
      
      <!-- Page heading -->
      <div>
        <p style="font-family: 'Gill Sans', sans-serif;" class="fw-semibold fs-2">Create Account</p>
      </div>

      <!-- Profile Image input -->
      <div class="mb-3 text-center">
        <label for="profileImageURL" class="form-label d-block">Profile Image</label>
        <!-- Hidden file input for profile image -->
        <input type="file" name="profileImageURL" class="form-control d-none" id="profileImageURL" aria-describedby="profileImageHelp">
        <div class="profile-image-wrapper mx-auto">
          <!-- Default profile image preview -->
          <img id="profileImagePreview" src="https://via.placeholder.com/150" alt="Profile Image" class="profile-image">
          <!-- Label for file input, used as a button -->
          <label for="profileImageURL" class="profile-image-label">Choose Image</label>
        </div>
        <div id="profileImageHelp" class="form-text">Upload your profile image.</div>
      </div>

      <!-- Full Name input -->
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="fullName">
      </div>

      <!-- Email input -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <!-- Password input -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Include scripts for functionality -->
  <%- include("./partials/scripts") %>
  <%- include("./scripts/signup") %>
</body>

</html>